*{
  border:1px solid black;
}

html, body{
  height: 100%;
}

body {
  margin: auto;
  
}

li {
  display: block;
  margin-right: 50px;
  
}

header{
  height: 16%;
  width: full;
}

.nav{
  border-width:1px 0;
  list-style:none;
  margin:auto;
  padding:3%;
  text-align:center;
  width: 1200px;
  
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:20px;
  text-decoration: none;
  color: #A3481B;
}

.left{
float: left;
}

.right{
float:right;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.logo {
  float: left;
  height: 52px;
  display: block;
  margin-left:8%;
  opacity: .8;
}